.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: cornflowerblue;
    color: white;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.login-btn{
    background-color: white;
    color: cornflowerblue;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin: 15px;
}
.blockMenu{
    display: flex;
    flex-direction: row;
}